body {
    width: 950px;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(202, 202, 202);
}
main {
    min-height: 500px;
}
.title {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}
.quote {
    font-style: italic;
}

.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   color: whitesmoke;
   background-color:rgb(14, 4, 41);
   text-align: center;
}

.sidenav {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(14, 4, 41);
    overflow-x: hidden;
    padding-top: 20px;
    color: whitesmoke;
    text-align: center;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: whitesmoke;
    display: block;
  }
  
  .sidenav a:hover {
    color: #046e01;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .homeImg{
    width: 60px;
    height: 60px;
  }

  button{
    background-color:rgb(14, 4, 41);
    color: whitesmoke;
  }